body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
/* Login Page */

.loginContainer {
  background-color: #f1f5f7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormContainer {
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  height: 470px;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.loginInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.loginInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 310px;
  height: 65px;
}

.loginInput {
  padding: 10px 10px 10px 10px;
  width: 300px;
  border-radius: 8px;
  border: solid 0.8px #d4d9de;
  background-color: #fff;
}

.loginButton {
  width: 322px;
  height: 40px;
  border-radius: 8px;
  border-width: 0px;
  background-color: #3597fe;
  color: white;
  margin-left: 10px;
}

.loginButton:hover {
  cursor: pointer;
}

.loginText {
  /* font-family: Nunito; */
  font-size: 15px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 5px;
}

.loginLinkText {
  text-decoration: inherit;
  color: #3597fe;
  margin-left: 10;
  font-size: 12px;
}

.loginLinkText:hover {
  cursor: pointer;
}

/* Header */

.headerContainer {
  padding: 13px 11px 12px 5px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerButtonContainer {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  border: solid 1px #d4d9de;
  background-color: #f6f6f6;
}
.headerButton:hover {
  cursor: pointer;
}

.headerText {
  /* font-family: OpenSans; */
  font-size: 22px;
  font-weight: bold;
}
.headerText:hover {
  cursor: pointer;
}

.headerTextLeft {
  color: #57585a;
}

.headerTextRight {
  color: #3597fe;
}

/* Registration Page */

.registerFormContainer {
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  height: 45em;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
}

.registerInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 550px;
}

.registerButton {
  width: 322px;
  height: 40px;
  border-radius: 8px;
  border-width: 0px;
  color: white;
  margin-left: 10px;
  background-color: #3597fe;
}

.registerButton:hover {
  cursor: pointer;
}

/* Onboarding Page */

.onboardPageContainer {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.onboardContainer {
  width: 90%;
  height: 80%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.onboardHeaderContainer {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #fbfbfb;
}

.onboardHeaderText {
  /* font-family: Nunito; */
  font-size: 20px;
  color: #3597fe;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.onboardHeaderActive {
  color: #3597fe;
}

.onboardHeaderNotActive {
  color: #505d69;
}

.onboardHeaderNotActive:hover {
  cursor: pointer;
}

.onboardHeaderArrow {
  color: #3597fe;
  margin-left: 10px;
  margin-right: 10px;
}

.onboardInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.onboardTitle {
  /* font-family: RobotoSlab; */
  font-size: 20px;
  font-weight: bold;
  color: #373737;
  letter-spacing: -0.48px;
  margin-top: 20px;
}

input[type="file"] {
  display: none;
}
.onboardFileInput {
  padding: 15px 85px;
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04);
  border: dashed 2px #60cead;
  background-color: #fff;
  margin-top: 20px;
}
.onboardFileInput:hover {
  cursor: pointer;
}
.onboardFileName {
  margin: 10px;
  /* font-family: Nunito; */
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #343a40;
}

.onboardShowSegmentsButton {
  width: 179px;
  height: 40px;
  margin: 20px;
  padding: 10px 14.3px 10px 29px;
  border-radius: 8px;
  border: solid 1px #3597fe;
  background-color: #fff;
  /* font-family: Nunito; */
  font-size: 15px;
  color: #3597fe;
}

.onboardSegmentsContainer {
  width: 90%;
  height: 250px;
  overflow: scroll;
  margin: 10px;
  border-radius: 8px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onboardSegmentsInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.onboardSegmentTitle {
  /* font-family: Nunito; */
  font-size: 16px;
  font-weight: 600;
  color: #373737;
}

.onboardSubsegmentTitle {
  /* font-family: Nunito; */
  font-size: 14px;
  font-weight: 600;
  color: #373737;
}

.onboardNextButton {
  margin: 20px;
  width: 180px;
  height: 40px;
  border-radius: 8px;
  background-color: #3597fe;
  border-width: 0px;
  color: white;
}
.onboardNextButton:hover {
  cursor: pointer;
}

.onboardMetricOnboardContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  height: 100%;
  background-color: white;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  overflow: auto;
}

.onboardMetricOnboardHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06);
  padding: 10px 10px 10px 20px;
}

.onboardMetricOnboardInnerContainer {
  padding-left: 20px;
  padding-bottom: 20px;
}

.onboardMetricOnboardMetricContainer {
  overflow: auto;
}

.onboardMetricOnboardTitle {
  /* font-family: RobotoSlab; */
  font-size: 20px;
  color: #373737;
  margin-top: 20px;
  font-weight: bold;
}

.onboardMetricOnboardText {
  /* font-family: Nunito; */
  font-size: 16px;
  color: #373737;
  margin-top: 20px;
}

.onboardMetricOnboardSelectionContainer {
  margin-top: 15px;
}

.onboardMetricOnboardSelection {
  margin-top: 5px;
  /* font-family: Nunito; */
  font-size: 16px;
  color: #373737;
}

.onboardMetricOnboardButton {
  margin-top: 20px;
  width: 134px;
  height: 40px;
  border-radius: 8px;
  background-color: #3597fe;
  border-width: 0px;
  color: white;
}
.onboardMetricOnboardButton:hover {
  cursor: pointer;
}

.journalFormParent {
  background-color: #f1f5f7;
  /* background-color: #ebf4ff; */
  height: 100vh;
}

.journalFormMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94%;
}

.journalFormContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04);
  height: 90%;
  width: 90%;
  overflow-y: auto;
  border: white 15px solid;
}

.journalFormContainerRow {
  display: flex;
  flex-direction: row;
  padding: 0.5em 2em 0em 2em;
  justify-content: space-between;
}

.journalFormTitle {
  /* font-family: RobotoSlab; */
  font-size: 20px;
  font-weight: bold;
  color: #373737;
}

.journalFormText {
  /* font-family: Nunito; */
  font-size: 15px;
  color: #343a40;
  margin-bottom: 0.5em;
}

.journalFormInput {
  border-radius: 8px;
  border: solid 0.8px #d4d9de;
  max-width: 15em;
  min-width: 10em;
  padding: 6px;
}

.journalFormInputSelect {
  border-radius: 8px;
  border: solid 0.8px #d4d9de;
  max-width: 15em;
  min-width: 10em;
}

.journalFormInputLarge {
  border-radius: 8px;
  border: solid 0.8px #d4d9de;
  margin-top: 0.5em;
  max-width: 20em;
  padding: 6px;
}

.journalGLContainer {
  display: flex;
  flex-direction: row;
}

.journalSubGLContainer {
  margin-top: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  border: solid 1px #eaeaea;
  /* width: 60%; */
}

.journalFormMetaContainer {
  width: 45%;
  padding: 23px 35px 26px 25px;
}

.journalAccountParentContainer {
  width: 50%;
}

.journalAccountContainer {
  padding: 23px 35px 26px 25px;
  border-radius: 8px;
  background-color: #f0f4f9;
  /* border: 0.5px green solid; */
}

.journalFormMetricAllocationContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.journalFormAllocationButton {
  width: 250px;
  height: 40px;
  padding: 10px 14px 10px;
  border-radius: 8px;
  background-color: #3597fe;
  border-width: 0;
  color: white;
  margin-top: 20px;
}

.journalFormAllocationButton:hover {
  cursor: pointer;
}

.journalFormSaveTemplateButton {
  /* width: 250px; */
  height: 40px;
  padding: 10px 14px 10px;
  border-radius: 8px;
  background-color: #3597fe;
  border-width: 0;
  color: white;
}

.journalFormSaveTemplateButton:hover {
  cursor: pointer;
}

.journalFormEditButtonContainer {
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: rgba(96, 206, 173, 0.1);
  height: 20px;
  width: 20px;
}

.journalFormDownloadContainer {
  display: flex;
  justify-content: center;
  width: 45%;
  height: 17em;
  border-radius: 8px;
  border: dashed 2px #eaeaea;
  background-color: #fff;
}

.journalFormDownloadInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.journalFormDownloadButton {
  width: 15em;
  height: 3em;
  border-radius: 8px;
  border-width: 0;
  background-color: #43bf9a;
  color: white;
  /* font-family: Nunito; */
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.journalFormDownloadButton:hover {
  cursor: pointer;
}

/* Allocation Modal */

/* Adjusting CSS of multi select dropdown */
.rmsc .dropdown-content {
  padding-bottom: 15px !important;
}

.allocationHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.allocationTitle {
  /* font-family: RobotoSlab; */
  font-size: 20px;
  font-weight: 500;
  color: #373737;
  font-weight: 600;
}

.allocationText {
  /* font-family: Nunito; */
  font-size: 18px;
  color: #373737;
  margin: 0.5em;
}

.allocationNameContainer {
  background-color: #fbfbfb;
  padding: 1em;
  padding-bottom: 1.5em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12) inset;
}

.allocationNameInnerContainer {
  margin-left: 2em;
  border-radius: 8px;
}

.allocationNameInput {
  border-radius: 8px;
  border: solid 0.8px #d4d9de;
  margin-top: 0.5em;
  width: 90%;
  padding: 6px;
}

.allocationSectionContainer {
  padding: 1em;
  padding-left: 2em;
  /* width: 100%; */
  border-bottom: 1px solid #ebedee;
  /* min-height: 5em; */
}

.allocationSectionHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allocationSectionTitle {
  /* font-family: Nunito; */
  font-size: 16px;
  color: #728495;
}

.allocationSectionInput {
  border-radius: 8px;
  border: solid 0.8px #d4d9de;
  background-color: #fff;
  /* font-family: Nunito; */
  font-size: 15px;
  width: 400px;
}

.allocationSaveButton {
  padding: 12px 21px;
  border-radius: 8px;
  color: white;
  margin: 1em;
  border-width: 0;
  background-color: #3597fe;
}
.allocationSaveButton:hover {
  cursor: pointer;
}

/* User Account */

.userAccountParentContainer {
  background-color: #f1f5f7;
  height: 100vh;
}

.userAccountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94%;
}

.userAccountInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04);
  height: 90%;
  width: 90%;
}

.userAccountImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  background-color: #43bf9a;
  margin: 15px;
}

.userAccountName {
  font-size: 20px;
  font-weight: 500;
  color: #373737;
}

/* Save Template Modal */

.saveTemplateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* User Settings */

.registerFormContainerModal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
  padding: 1em;
}

.userSettingsMainButtonsContainer {
  display: flex;
  flex-direction: column;
}

.userSettingsPermissionsContainer {
  margin-top: 20px;
}

.topBlockContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  padding: 2em;
}

.topBlock {
  display: flex;
  flex-direction: column;
  height: 15em;
  width: 26em;
  border: gray solid 0.5px;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
}

.settingSelect {
  width: 15em;
}

.selectRowTopBlock {
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.subContainerTopBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  overflow: auto;
}

.bottomBlockContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  border: gray 0.5px solid;
  border-radius: 15px;
  padding: 15px;
}

.userManagementTable {
}

/* Util Styles */

.buttonDisabled {
  opacity: 0.5;
}

.buttonDisabled:hover {
  cursor: default;
}

/* Start of old Styles */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.importDataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user {
  display: flex;

  justify-content: flex-end;

  /* margin: 8px 16px 0; */
}

.formLabel {
  padding-right: 5px;
}
.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.accountsColumn {
  display: flex;
  flex-direction: column;
}

.allocationsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.autoAllocationColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.allocationRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30em;
  padding: 5px;
  margin-left: 8em;
  /* border: black 1px solid; */
}

.allocationAmount {
  width: 10%;
}
.allocationPercent {
  width: 3em;
  margin-right: 0.5em;
  margin-left: 5em;
}
.createJournalEntryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50em;
  align-items: center;
  align-self: end;
}
.createJournalEntryButton {
  padding: 10px;
}
.chartFieldOrderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chartFieldOrder {
  border: black 1px solid;
  padding: 10px;
  margin: 5px;
}

.red {
  color: red;
}

.dropDown {
  margin-left: 5px;
}

.mediumButton {
  padding: 0.5em;
  margin: 1em;
}

.autoAllocationRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropDownColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20em;
}
