body {
  padding: 10px;
  font-family: sans-serif;
}
.row {
  display: flex;
  flex-direction: row;
}

.importDataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formLabel {
  padding-right: 5px;
}
.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.accountsColumn {
  display: flex;
  flex-direction: column;
}

.allocationsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.autoAllocationColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.allocationRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30em;
  padding: 5px;
  margin-left: 8em;
  /* border: black 1px solid; */
}

.allocationAmount {
  width: 10%;
}
.allocationPercent {
  width: 3em;
  margin-right: 0.5em;
  margin-left: 5em;
}
.createJournalEntryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50em;
  align-items: center;
  align-self: end;
}
.createJournalEntryButton {
  padding: 10px;
}
.chartFieldOrderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chartFieldOrder {
  border: black 1px solid;
  padding: 10px;
  margin: 5px;
}

.red {
  color: red;
}

.dropDown {
  margin-left: 5px;
}

.mediumButton {
  padding: 0.5em;
  margin: 1em;
}
